{% extends 'base.html' %}
<h1>Expnses List</h1>

<ul class="list-group">
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
  <li class="list-group-item">Bought The Latest Gaming PC</li>
</ul>
